@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    color: #ffffff;
}

section, .footer {
    width: 100%;
}

.text, .content {
    margin: 0 auto;
}

.text {
    text-align: center;
}

.ourWork {
    background-color: #de2b24;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ourWorkText {
    width: 22em;
    margin-bottom: 2rem;
}

.ourWorkText>.line {
    display: inline-block;
    height: 0.3em;
    width: 3em;
    background-color: #f3f3f3;
}

.defaultH1 {
    margin: 0;
    line-height: 30px;
    font-size: 36px;
    font-weight: 700;
}

.defaultText {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
}

.content {
    width: 72%;
}


.content>ul {
    line-height: 0;
    margin: 0;
    padding: 0;
    height: 35vw;
    display: block;
    list-style-type: none;
}

.content>ul>li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    height: 50%;
    overflow: hidden;
    background-color: rgba(255, 228, 196, 0.192);
}


.img {
    background: center center no-repeat;
    background-size: cover;
    transition: transform .3s;
}

.ourWorkItems {
    background-color: #f35e59;
}

.ourWorkItem>img{ 
    display: block;
    max-width: 100%;
    margin: 25% auto 0;
    transition: transform .4s;
}

.ourWorkItem>h2, .ourWorkItem>h3 {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    position: relative;
    text-align: center;
    transition: transform .4s;
}

.ourWorkItem>h2 {
    margin-top: 5%;
    font-size: 26px;
}

.ourWorkItem>h3 {
    font-size: 16px;
}

.ourWorkItem:hover img {
    transition: transform .4s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.ourWorkItem:hover h2, .ourWorkItem:hover h3 {
    transition: transform .4s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.img:hover {
    transition: transform .3s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.facebookAnalysis {
    background-color: #1287bf;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.arrowContainer {
    margin-top: 1em;
}

.arrow {
    font-size: 1.3rem;
    height: 3.8rem;
    line-height: 3.8rem;
    width: 3.8rem;
    margin: 0 auto;
    border: 0.2rem #ffffff solid;
    border-radius: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}
.arrow::before {
    content: 'V';
}

.triangleContainer {
    z-index: 0;
    position: relative;
    top: 3vw;
    transform: rotate(45deg);
    margin: 0 auto;
    width: 5%;
}

.triangleContainer::before {
    display: block;
    content: "";
}

.triangleContainer>.triangle {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    padding-top: 100%;
    background-color: #FFFFFF;
}

.form {
    position: relative;
    z-index: 1;
    width: 40%;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.formText {
    margin-top: 7%;
    width: 85%;
    display: inline-block;
    color: #828282;
    font-size: 15px;
}

form {
    width: 100%;
    height: 100%;
}

.form>form>input:first-child {
    margin-top: 5%;
}

.form>form>input {
    margin: 1% 0;
    width: 55%;
    height: 2.5rem;
    font-size: 14px;
    padding: 0 3%;
    border-radius: 3px;
    border: solid #F1F1F1 2px;
    font-family: 'Sarabun', sans-serif;
    outline: none;
    transition: border .2s, box-shadow .2s;
    -webkit-transition: border .2s, box-shadow .2s;
    
}

.form>form>input::-webkit-input-placeholder, .form>form>input::-moz-placeholder {
    color: #828282;
    font-family: 'Sarabun', sans-serif;
}

.form>form>input:focus {
    outline: none;
    border: #1287bf solid 2px;
    box-shadow: 0 0 3px 0 #1287bf;
}

.form>form>button[type="submit"] {
    width: 25%;
    height: 2.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    background-color: #DE2B24;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    border-radius: 3px;
}


.footer {
    background-color: #515151;
    height: 10vh;
}
